h1, p {
  font-family: Lato, serif;
}

.container {
  padding: 40px;
  height: 100vh;
  box-sizing: border-box;
}
.table_wrapper {
  height: 85%;
}
.table {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.table td {
  position: relative;
}

.table td > * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.buttonContainer {
  margin-top: 20px;
}

.error {
  color: red;
}

td {
  height: 120px;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
}

.number {
  display: flex;
  flex-direction: column;
}

.number label {
  display: inline-block;
  height: 100px;
}

.number input {
  width: 150px;
  align-self: center;
}

.phone {
  vertical-align: middle;
  text-align: center;
}

.money {
  vertical-align: middle;
}

.money_container {
  display: inline-block;
  width: 65%
}

.money input {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.login {
  display: flex;
  flex-direction: column;
}

.login input {
  order: 1;
  width: 130px;
  align-self: center;
}

.login label {
  order: 2;
}

.login div {
  order: 3;
}

.lastName {
  vertical-align: middle;
  text-align: center;
}

.lastName_container {
  display: flex;
  width: 100%
}

.lastName label {
  flex-grow: 3;
}

.lastName input {
  width: 100px;
}

.date_container {
  display: flex;
  width: 100%
}

.date label {
  flex-grow: 3;
}

.date input {
  margin-right: 50px;
}
